<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <style>
        div {
            text-align: center;
        }
    </style>
</head>
<body>
<div>
    <h1>{{error}}</h1>
    <h2>Status code: {{status}}</h2>
    <p>{{message}}</p>
</div>
</body>
</html>