<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        button {
            width: 150px;
        }
    </style>
</head>
<body>
<a href="/user/create"><button>Create new user</button></a>
<br>
<a href="/user/find"><button>Find user</button></a>
</body>
</html>