<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/form.css">
</head>
<body>
<form action="/user" method="get">
    <label for="first_name">Имя: </label>
    <input type="text" id="first_name" name="firstName">
    <br>
    <label for="last_name">Фамилия: </label>
    <input type="text" id="last_name" name="lastName">
    <br>
    <input type="submit">
</form>
</body>
</html>